<!DOCTYPE html>
<html lang="es">
<head>
    <title>Football Live ⚽ | Fútbol Gratis En VIVO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.football-live.lol/">
    <meta name="title" content="Football Live | Canales para ver Futbol Gratis En VIVO Online" />
    <meta name="description" content="Futbol gratis en vivo, Premier League, Bundesliga, Serie A, LaLiga, Ligue 1, UEFA Champions League, entre otros eventos deportivos.">
    <meta name="keywords" content="Futbol en vivo, champions, uefa, clubs, real madrid, barcelona, manchester city, liverpool, bayern">
    <meta name="distribution" content="global" />
    <meta name="author" content="Foobal Live" />
    <meta name="referrer" content="always" />
    <meta name="robots" content="all" />
    <link rel="icon" href="/img/favicon.ico" type="image/ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/matches.css" rel="stylesheet" type="text/css">
    <script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1228245428350896" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div id="programacion">
            <h3>PROGRAMACIÓN DEPORTIVA</h3>
        </div>
    </div>
    <div id="container">        
        <div id="left-column">
            <!-- Anuncios de visualización -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1228245428350896"
                data-ad-slot="1109819880"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="center-column">
            <div class="channels">
                <a id="list1" href="#" onclick="showChannels(1)" class="selected">Lista 1</a>
                <a id="list2" href="#" onclick="showChannels(2)">Lista 2</a>
            </div>
            <div class="extension">
                <label class="text_link">Obten nuestra extensión:</label>
                <a href="https://chromewebstore.google.com/detail/football-live/pdehjnikdhecaajakdgdoflodnbedfim" target="_blank">
                    <img src="./img/chrome_store.png" width="32" height="32" />
                </a>
            </div>
            <div id="channels1">
                <% if(data.matches.length > 0)  { %>
                <ul class="menu">
                <% for (let i = 0; i < data.matches.length; i++) { %>
                    <li class="<%= data.matches[i].country %>">
                        <a href="#"><%= data.matches[i].name %><span class="t"><%= data.matches[i].time %></span></a>
                        <ul style="display: none;">
                            <% for (let j = 0; j < data.matches[i].channels.length; j++) { %>
                                <li class="subitem1">
                                    <a href="<%= data.matches[i].channels[j].url %>" target="_blank"><%= data.matches[i].channels[j].name %></a>
                                </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
                </ul>
                <% } else { %>
                <div class="wait-program">
                    <h3>ESPERANDO CONFIRMACIÓN DE PARTIDOS PARA HOY</h3>
                </div>
                <% } %>
            </div>
            <div id="channels2" class="invisible">
                <ul class="menu">
                <% for (let i = 0; i < data.matchesPE.length; i++) { %>
                    <li>
                        <a href="#" class="enlace"><%= data.matchesPE[i].name %><span class="t"><%= data.matchesPE[i].time %></span>
                            <img src="<%= data.matchesPE[i].flag %>" width="45" heigth="26.5" loading="lazy" class="imgtan">
                        </a>
                        <ul style="display: none;">
                        <% for (let j = 0; j < data.matchesPE[i].channels.length; j++) { %>
                            <li class="subitem1">
                                <a href="<%= data.matchesPE[i].channels[j].url %>" target="_blank"><%= data.matchesPE[i].channels[j].name %></a>
                            </li>
                        <% } %>
                        </ul>
                    </li>
                <% } %>
                </ul>
            </div>
        </div>
        <div id="right-column">
            <!-- Anuncios de visualización -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1228245428350896"
                data-ad-slot="1109819880"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <script>
        // Obtener todos los elementos li del menú
        const itemsLi = document.querySelectorAll('.menu li');

        // Iterar sobre cada elemento li
        itemsLi.forEach(function(item) {
            // Agregar un evento de clic a cada elemento li
            item.addEventListener('click', function() {
                // Obtener el elemento ul hijo del elemento li actual
                let ul = this.querySelector('ul');

                // Comprobar si el elemento ul está visible
                if (ul.style.display === 'none') {
                    // Si está oculto, mostrarlo
                    ul.style.display = 'block';
                } else {
                    // Si está visible, ocultarlo
                    ul.style.display = 'none';
                }
            });
        });

        function ajustarHoraCliente(horaServidor) {
            try {
                // Obtener la fecha y hora actual del cliente
                var fechaCliente = new Date();

                // Obtener la diferencia en minutos entre la hora local y UTC
                var diferenciaHorarioCliente = fechaCliente.getTimezoneOffset();

                // Ajustar la hora del servidor según la zona horaria del cliente
                var ajusteHorario = (diferenciaHorarioCliente < 0) ? -Math.abs(diferenciaHorarioCliente) / 60 : Math.abs(diferenciaHorarioCliente) / 60;

                var diferencia = Math.abs(5) - Math.abs(ajusteHorario);
                
                // Crear un objeto de fecha y hora para la hora inicial pasada como parámetro
                var horaInicial = new Date();
                
                var [horas, minutos] = horaServidor.split(':').map(Number); // Separar las horas y minutos de la hora pasada como parámetro
                horaInicial.setHours(horas, minutos, 0, 0); // Establecer la hora según la hora pasada como parámetro

                // Sumar las horas especificadas
                horaInicial.setHours(horaInicial.getHours() + diferencia);

                // Obtener la hora sumada
                var horaFormateada = horaInicial.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});

                return horaFormateada;
            } catch (error) {
                console.error('Error en ajustarHoraCliente():', error.message);
                return horaServidor; // Devolver la hora del servidor sin cambios en caso de error
            }
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            // Obtener todos los elementos con la clase 't' (donde se muestra la hora)
            const timeElements = document.querySelectorAll('.t');
            
            // Recorrer cada elemento y ajustar la hora según la zona horaria del cliente
            timeElements.forEach((element) => {
                // Obtener la hora del servidor desde el contenido del elemento
                const horaServidor = element.textContent.trim();
                
                // Ajustar la hora del servidor según la zona horaria del cliente
                const horaCliente = ajustarHoraCliente(horaServidor);
                
                // Actualizar el contenido del elemento con la hora ajustada
                element.textContent = horaCliente;
            });
        });

        function showChannels(channel){
            const list_channel1 = document.getElementById('channels1');
            const list_channel2 = document.getElementById('channels2');
            const list1 = document.getElementById('list1');
            const list2 = document.getElementById('list2');

            if(channel == 1){
                list_channel1.classList.remove('invisible');
                list_channel2.classList.add('invisible');
                list1.classList.add('selected');
                list2.classList.remove('selected');
            }
            else{
                list_channel1.classList.add('invisible');
                list_channel2.classList.remove('invisible');
                list1.classList.remove('selected');
                list2.classList.add('selected');
            }
        }
    </script>
    <script type="text/javascript">
        aclib.runAutoTag({
            zoneId: 'b4zmnmgvqu',
        });
    </script>    
</body>
</html>